
<div class="alert @CssClass border border-1 border-dark">
<h4>@Title</h4>
<div>@DisplayMessage</div>
</div>

@code {
    /// <summary>
    /// The message to be displayed in the message box.
    /// </summary>

    [Parameter, EditorRequired]
    public string DisplayMessage { get; set; } = "";

    /// <summary>
    /// This is the title of the messagebox.
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    /// <summary>
    /// This is the class to apply on the messagebox.
    /// </summary>
    [Parameter]
    public string CssClass { get; set; } = "alert-success";
}
